
<div style='width: 100%; height: 400px; text-align: center; clear: both; margin: 10em auto; background: url(/images/tree_bark.png); padding-top: 3em; -moz-box-shadow: inset 0px 0px 14px #000000; -webkit-box-shadow: inset 0px 0px 14px #000000; box-shadow: inset 0px 0px 14px #000000; /*Inner elements should not cover inner shadows*/ /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/'>
	<h1>Iniciar Sessión</h1>
	<form action='/login' method='post'>
		<div>
			<label>Username:</label>
			<input type='text' style="text-align: center; font-size: 1.4em; width: 50%; margin: 0 auto;" class='form-control' name='username' />
		</div>
		<div>
			<label> Password:</label>
			<input type='password' style="text-align: center; font-size: 2em; font-size: 1.4em; width: 50%; margin: 0 auto;" class='form-control' name='password'/>
		</div>
		<div>
			<br/>
			<input type='submit' style="font-size: 1.4em;" class='btn btn-success btn-md' value='Iniciar Sesión!'/>
		</div>
	</form>
<div>
