<script type="text/javascript">
	var arrayOrdersProducts = [];
  var count = 0;
  var idstore = '<%- idStore %>';

	$(document).ready(function(){
		socket.on('OrderResponse', function(data){
      if(data.idStoreP == idstore){
  			$("#ClientsOrders").append("<li><a href='#' onclick='loadOrder(" + count + ");' >" + data.dataPeopleP[0] + " <br/>" + data.dataPeopleP[1] + " " + data.dataPeopleP[2] + "</a></li>");
          count++;
        arrayOrdersProducts.push(data.orderListP);
      }
		});
	});

  function loadOrder(position){
    var html = "";
    for(var i = 0; i < arrayOrdersProducts[position].length ; i++){ 
          
      var color = '#'+Math.floor(Math.random()*16777215).toString(16);

      html += "<li><label>Producto:</label><span>" + arrayOrdersProducts[position][i][0] + "</span><br/><label>Cantidad:</label><span>" + arrayOrdersProducts[position][i][1] + "</span></li>";

    }


    $(".modal").modal("show");


    $("#ItemList").html(html);
  }
  var a = '<%- nameStore %>';
</script>

<style type="text/css">
body, .food { background: url('/images/food.png');}

	.square { margin-top 2em; width: 70px; height: 70px; background: #3d3d3d; display: inline-block; color: #fff; font-size: 2em; line-height: 70px; text-transform: uppercase;}
    .listView { margin: 1em; padding: 0px; list-style-type: none;}
    .listView li { padding: 2em; background: #fff; margin-top: 1em; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/ -moz-box-shadow: 0px 0px 2px #000000; -webkit-box-shadow: 0px 0px 2px #000000; box-shadow: 0px 0px 2px #000000; /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/ }
    #orderListContainer{
    	color: #fff;
    	font-family: 'Oregano', Tahoma;
    	font-size: 2em;
    	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/ -moz-box-shadow: 0px 0px 2px #000000; -webkit-box-shadow: 0px 0px 2px #000000; box-shadow: 0px 0px 2px #000000; /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/ 
    }
    #orderListContainer li{
      margin-top: 1em;
    }
    #orderListContainer a{
    	color: #fff;
    }
</style>

<div class="food" style="width: 100%; text-align: center; ">
	<h1 style="font-family: 'Oregano', Tahoma; clear: both;">Listado de Domicilios en Cola para tienda:<br/><%- nameStore %></h1>
	<div id="orderListContainer" style="background-color: rgba(0, 0, 0, 0.6); heigth: 600px; width: 80%; margin: 0 auto; padding: 3em;">
		<ol id="ClientsOrders">

		</ol>
	</div>
</div>

<div class="modal fade bs-modal-lg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Listado de Productos</h4>
      </div>
      <div class="modal-body">
        <ol id="ItemList">
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Cerrar Lista!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->