<style>
.map {width: 100%; height: 300px; clear: both; border-top: 3px solid #191919; border-bottom: 10px solid #191919; }
.itemNews { clear: both; display: inline-block; width: 20em; height: 300px;} 
.containerNews { clear: both; width: 80%; margin: 0 auto; text-align: center;  }
.itemImageNews { width: 10em;}
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIfS9ii1snXq6LLbd59yolJDnCuV0nZNA&sensor=true"> </script>
<script type='text/javascript'>
	$(document).ready(function(){
		$('#dialogStore').modal({
			show: false
		});
		if($("#map-canvas").length != 0)
	    {
	        var mapOptions = {
	          center: new google.maps.LatLng(-34.397, 150.644),
	          zoom: 15
	        };
	        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
	        
	        // Try HTML5 geolocation
	        if(navigator.geolocation) {
	          navigator.geolocation.getCurrentPosition(function(position) {
	            var pos = new google.maps.LatLng(position.coords.latitude,
	                                             position.coords.longitude);

	            var infowindow = new google.maps.InfoWindow({
	              map: map,
	              position: pos,
	              content: 'Usted se encuentra aquí!'
	            });

	            map.setCenter(pos);
	          }, function() {
	            handleNoGeolocation(true);
	          });
	        } else {
	          // Browser doesn't support Geolocation
	          handleNoGeolocation(false);
	        }

	        $("#map-canvas").css("height","300px");

	      	$.ajax({
	      		url: '/store/markers/',
	      		type: 'POST',
	      		data: {},
	      		success: function(result){
	      			for(item in result.storeJson){
	      				var myLatlng = new google.maps.LatLng(result.storeJson[item].latitude.toString(),result.storeJson[item].longitude.toString());
						var mapOptions = {
							zoom: 4,
							center: myLatlng,
							mapTypeId: google.maps.MapTypeId.ROADMAP,
							panControl: true,
							zoomControl: true,
							mapTypeControl: true,
							scaleControl: true,
							streetViewControl: true,
							overviewMapControl: true
						}

						var marker = new google.maps.Marker({
							position: myLatlng,
							map: map,
							title: result.storeJson[item].name,
							idStore: result.storeJson[item].id
						});

						google.maps.event.addListener(marker, 'click', (function(marker, item) {
				            return function() {
				                $("#titleModal").html(marker.title);
							    $("#textModal").html(marker.title);
							    $('#dialogStore').modal('show');
				            }
				        })(marker, item));
						
	      			}
	      		},
	      		error: function(){

	      		}
	      	});
	    }
	});
</script>

<section class="map">
  <div id="map-canvas">
    </div>
</section>
<br/>
<br/>
<section class="containerNews">
	<h2>¿Cómo funciona?</h2>
	<section class='itemNews'>
		<h3>1. Descarga la aplicación móvil</h3>
		<img src='/images/phone.png' class="itemImageNews" alt='news' />
	</section>

	<section class='itemNews'>
		<h3>2. Busca tu tienda</h3>
		<img src='/images/store.png' class="itemImageNews" alt='news' />
	</section>

	<section class='itemNews'>
		<h3>3. Realiza tu pedido</h3>
		<img src='/images/basket.png' class="itemImageNews" alt='news' />
	</section>

	<section class='itemNews'>
		<h3>4. El pedido se empaca y esta listo para enviar</h3>
		<img src='/images/car.png' class="itemImageNews" alt='news' />
	</section>

	<section class='itemNews'>
		<h3>5. Ahorras tiempo</h3>
		<img src='/images/clock.png' class="itemImageNews" alt='news' />
	</section>

	<section class='itemNews'>
		<h3>6. Agrega tu ubicación al pedido</h3>
		<img src='/images/map.png' class="itemImageNews" alt='news' />
	</section>

	<section class='itemNews'>
		<h3>7. Realiza el pago de tu pedido</h3>
		<img src='/images/wallet.png' class="itemImageNews" alt='news' />
	</section>

	<section class='itemNews'>
		<h3>8. Cliente satisfecho</h3>
		<img src='/images/agreement.png' class="itemImageNews" alt='news' />
	</section>

	<div id='dialogStore' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	    	<br/>
			<h4 id='titleModal'></h4>
			<p> Usted a seleccionado la tienda (<span id='textModal'></span>), si desea solicitar un docimilio haga click en continuar.</p>
			<button class="btn btn-sm btn-success">Continuar!</button>
			<br/>
			<br/>
	    </div>
  </div>
</div>
</section>
